.layout {
  border-radius: var(--ifm-pagination-nav-border-radius);
  border: 1px solid var(--ifm-color-emphasis-300);
  margin: 0;
  padding: 2rem;
  background-color: transparent;
  width: 100%;
  height: fit-content;
}

.hover {
  transition: color 150ms ease;
  &:hover {
    border: 1px solid var(--ifm-color-primary-lightest);
  }
}

.padding1rem {
  padding: 1rem;
}

.padding2rem {
  padding: 2rem;
}

.padding3rem {
  padding: 3rem;
}

.padding4rem {
  padding: 4rem;
}

.widthFull {
  width: 100%;
}

.heightFull {
  height: 100%;
}

.bgTransparent {
  background-color: transparent;
}

.bgGray10 {
  background-color: var(--color-gray-10);
}

.bgGray10Alpha10 {
  background-color: var(--color-gray-10-alpha-10);
}

.bgGray10Alpha20 {
  background-color: var(--color-gray-10-alpha-20);
}

.bgGray10Alpha30 {
  background-color: var(--color-gray-10-alpha-30);
}

.bgGray10Alpha40 {
  background-color: var(--color-gray-10-alpha-40);
}

.bgGray10Alpha50 {
  background-color: var(--color-gray-10-alpha-50);
}

.bgGray20 {
  background-color: var(--color-gray-20);
}

.bgLightGray10 {
  background-color: var(--color-light-gray-10);
}

.bgLightGray30 {
  background-color: var(--color-light-gray-30);
}
